.quoteContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  background: #ffff;
  border-bottom: 1px solid gray;
}
.quoteHeadSection {
  border-bottom: 1px solid #dcdcdc;
  display: flex;

  align-items: center;
}
.quoteNumber {
  margin-left: 5rem;
}
